.Card {
  font-size: 1.2rem;
  width: 23%;
  display: flex;
  flex-flow: column wrap;
  padding: 2% 1%;
  margin: 1%;

  border-top: $border-shade-dark 3px solid;
  border-right: $border-shade-light 3px solid;
  border-bottom: $border-shade-dark 3px solid;
  border-left: $border-shade-light 3px solid;
  
  @include boxShadow($light-blue);
}